{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Budget Management System</title>

    <!-- Favicons -->
    <link href="{% static 'base/img/favicon.png'%}" rel="icon">
    <link href="{% static 'base/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'base/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'base/lib/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'base/css/style.css'%}" rel="stylesheet">
    <link href="{% static 'base/css/style-responsive.css'%}" rel="stylesheet">


    {% block content %}

    {% endblock %}

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'base/lib/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'base/lib/bootstrap/js/bootstrap.min.js'%}"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="{% static 'base/lib/jquery.backstretch.min.js'%}"></script>
    <script>
    $.backstretch("{% static 'base/img/login_img.jpg'%}", {
      speed: 500
    });
  </script>